
.container{
    margin-bottom: 50px;
    @media (max-width:767px){
        margin-top: 25px;
    }
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    @media (max-width:768px) {
        gap: 25px;
    }
    
    
    .box{
        display: block;
        width: 350px;
        height: 246px;
        background-color: $white;
        border-width: 4px;
        border-radius: 8px;
        border-style: solid hidden hidden hidden;
        box-shadow: 0px 5px 10px 0 $transparent ;
        h1{
            text-align: left;
            padding-left: 32px;
            font-size: 22px;
            margin-bottom: 15px;
            margin-top: 32px;
    
        }
        p{
            font-size: 15px;
            text-align: left;
            line-height: 1.5;
            padding-left: 32px;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        img{
            position:relative;
            left: 254px;
            top: 30px;
        }
    }
}
.super{
    border-color: $Cyan;  
}
.team{
    border-color: $Red;    
}
.karma{
    border-color: $Orange;
}
.calc{
    border-color: $Blue;
}
.vertical{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

}